{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">

        <select class="form-select mx-auto w-auto" name="symbol">

            <option disabled selected> Symbol </option>


            {% for x in check_symbol %}
            <option value="{{x}}" type="text">{{x}} </option>

            {% endfor %}
            <input class="form-control mx-auto w-auto" autocomplete="off" autofocus name="symbol" placeholder="Shares" type="text">

        </select>
        <br>
        <input class="form-control mx-auto w-auto" autocomplete="off" autofocus name="shares" placeholder="Shares" type="text">
        <br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </div>
</form>





{% endblock %}